.navbar-brand {
  font-size: 30pt;
}
.navbar-nav li a {
  font-size: 20pt;
}

.contactBody {
  background-color: rgb(208, 217, 224);
}

.centeredBtn {
  margin: auto;
  text-align: center;
  width:50%;
  padding-top: 50px;
}
#enterBtn {
  text-align: center;
  margin: auto;
  border-radius: 0;
  font-size: 38px;
}

.icon {
  font-size: 100pt;
}

.form {
  margin: auto;
width:40%;
text-align: center;
}

.round {
  border-radius: 10px;
}

.contactInfo {
  margin: auto;
  text-align: center;
}

.RB {
  margin-top:50px;
}
