#indexBody {
  background-image: url("../imgs/landing.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* landing page */

#name {
  text-align: center;
  margin: auto;
  padding-top: 10%;
}
#name h1 {
  font-size: 70px;
}
#roles {
  text-align: center;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.centeredBtn {
  margin: auto;
  text-align: center;
}
#enterBtn {
  text-align: center;
  margin: auto;
  border-radius: 0;
  font-size: 38px;
}
.socialContainer {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 10%;
}
.landingSocialIcon {
  font-size: 100px;
  color: #1d76de;
}

/* home */

.navbar-brand {
  font-size: 30pt;
}
.navbar-nav li a {
  font-size: 20pt;
}
img {

  border-radius: 10px;
  width: 30%;
  height: 30%;
  margin: 40px;

}

.tileContainer {
  margin: auto;
  text-align: center;
}


/*me*/

.jumbotron h2 {
  text-align: left;
  padding-left: 30px;
  margin-left: 10%;
  margin-right: 10%;

}
.aboutMe {
  margin: auto;
  text-align: center;
  float: none;

}

.tile a h2{
color:rgb(231, 84, 20);
font-weight: bold;
font-size: 50pt;


}





.aboutDiv {
  float:none;
  background-color: rgb(208, 217, 224);
  /*width: 30%;*/
  text-align: center;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;


}


/*future*/

.futureDiv {
  float: none;
  background-color: rgb(208, 217, 224);
  /*width: 30%;*/
  text-align: center;
  margin: 20px;;
  display: inline-block;
  border-radius: 10px;
}

.future-item {
  width: 70%;
  margin: auto;
  background-color: rgb(208, 217, 224);
  border-radius: 20px;

}

.future-item p {
font-size: 14pt;
padding-left: 7%;
padding-right: 7%;
padding-bottom: 5%;
}

.future-item h2 {
  padding-left: 10%;
  padding-right: 10%;
}

.future-item img {
  width: 25%;
  height: 25%;
}

/*contact*/

.contact {
  background-color: rgb(208, 217, 224);
}

.centeredBtn {
  text-align: center;
  margin: auto;

}
